body {
    background: url(../images/hypnotize.png)
}
#everything {
    margin: 15px auto;
}
#header {
    text-align: center;
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    color: #5fe1fa;
    letter-spacing: 15px;
    text-shadow: 2px 2px 2px #FFF450;
    border: outset #fff450;
    background: url(../images/what-the-hex.png);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    width: 90%;
    margin: auto;
}
#instructions {
    text-align: center;
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
    width: 90%;
    margin: 20px auto;
    border: #5fe1fa groove;
    text-shadow: 1px 1px 1px #5fe1fa;
    background: url(../images/qbkls.png);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
#scoreBoard {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    height: 150px;
    letter-spacing: 3px;
    margin-bottom: 15px;
    background: url(../images/what-the-hex.png);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
#targetBox{
    border: #5fe1fa outset;
}
#targetNumber {
    font-size: 40px;
}
#yourScoreBox {
    border: #fff450 outset;
}
#yourScore {
    font-size: 40px;
}
.cryst {
    display: flex;
    justify-content: center;
}
#winLoss {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    height: 125px;
    margin-top: 15px;
    letter-spacing: 5px;
    background: url(../images/what-the-hex.png);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
#winbox {
    border: #fff450 outset;
}
#win {
    font-size: 40px;
}
#lossbox {
    border: #5fe1fa outset;
}
#loss {
    font-size: 40px;
}